<template>
  <section>
    <h3>${heading}</h3>
    <div if.bind="isLoaded">
      <h4>【問題】</h4>
      <div innerHTML.bind="question.sentence"></div>
      <form role="form" submit.delegate="showAnswer()">
        <ul>
          <li>
          <label><input type="radio" name="answer" value="a" id="a" checked.bind="check">ア：</label>
          <label for="a" innerHTML.bind="question.answers.a"></label>
          </li>
          <li>
          <input type="radio" name="answer" value="i" id="i" checked.bind="check"><label>イ：</label>
          <label for="i" innerHTML.bind="question.answers.i"></label>
          </li>
          <li>
          <input type="radio" name="answer" value="u" id="u" checked.bind="check"><label>ウ：</label>
          <label for="u" innerHTML.bind="question.answers.u"></label>
          </li>
          <li>
          <input type="radio" name="answer" value="e" id="e" checked.bind="check"><label>エ：</label>
          <label for="e" innerHTML.bind="question.answers.e"></label>
          </li>
        </ul>
        <div>出展：<cite>${heading} 問${seq}</cite></div>
        <button type="submit" if.bind="!isAnswer">回答する</button>
      </form>
    </div>
    <div if.bind="isAnswer">
      <h4>【解答】</h4>
      <p><img src.bind = "isCorrect"/>答え：${correctAnswer}</p>
      <button click.delegate="nextQuestion()">${next}</button>
      <h4>【解説】</h4>
      <blockquote cite=${question.comment.ref}>
        <p innerHTML.bind="question.comment.text"></p>
        <p>出展：<cite>${question.comment.ref}</cite></p>
      </blockquote>
    </div>
    <div if.bind="!isLoaded" class="splash">
      <i class="fa fa-spinner fa-spin"></i>
      <div>loading</div>
    </div>
  </section>
</template>